In [2]:
# This notebook investigates the data from script 8 (comments of XJ)
import os
import sys
import importlib
import numpy as np
script_dir = '/home/kberlemo/projects/categorical_MMN/notebooks'
src_dir = os.path.join(script_dir, '..', 'src')
sys.path.append(src_dir)
import parameters as params
import classes as cl
import basic_functions as bf
# import seaborn as sns
import pandas as pd

In [3]:
# Local server SQL database
import sqlite3 as sq

In [4]:
project_dir = '/home/kberlemo/projects/categorical_MMN'
database_dir = os.path.join(project_dir, 'database/')
name = 'script8_database.db'
file_dir = os.path.join(database_dir, name)
con = sq.connect(file_dir)
cur = con.cursor()

In [15]:
cur.execute('''
            SELECT DISTINCT adaptation_tc, COUNT(name_id), Tinter
            FROM MMN_effect_deterministic
            WHERE (dev_id = 88) 
            GROUP BY adaptation_tc,Tinter
            ''')
cur.fetchall()

[(0.1, 3, 0.2),
 (0.1, 2, 0.5),
 (0.1, 1, 0.7),
 (0.1, 3, 1.0),
 (0.1, 1, 1.5),
 (0.1, 4, 2.0),
 (0.1, 2, 2.5),
 (0.1, 4, 3.0),
 (0.1, 4, 5.0),
 (0.5, 5, 0.2),
 (0.5, 1, 0.5),
 (0.5, 2, 0.7),
 (0.5, 3, 1.0),
 (0.5, 1, 1.5),
 (0.5, 2, 2.0),
 (0.5, 2, 5.0),
 (0.5, 4, 10.0),
 (1.0, 1, 0.2),
 (1.0, 3, 0.5),
 (1.0, 2, 0.7),
 (1.0, 4, 1.0),
 (1.0, 1, 1.5),
 (1.0, 3, 2.0),
 (1.0, 3, 3.0),
 (1.0, 3, 5.0),
 (1.0, 1, 10.0)]

In [12]:
q1 = (
    'SELECT AVG(MMN_norm) as MMN_norm, top_down_feedback, adaptation, adaptation_tc '
    'FROM MMN_effect_deterministic '
    'WHERE (dev_id = 88) AND (Tinter = 0.5) '
    'AND (ndf_plasticity = 1) AND (int_plasticity = 1) '
    'GROUP BY top_down_feedback, adaptation, adaptation_tc '
    'ORDER BY  adaptation, top_down_feedback, adaptation_tc'
)
r1 = pd.read_sql(q1,con)
r1

   MMN_norm  top_down_feedback  adaptation  adaptation_tc
0 -0.246755                3.0       -0.08            0.1
1  0.191745                0.0       -0.05            1.0
2  0.203214                1.0       -0.05            1.0
3  0.400293                2.0        0.00            0.1

In [ ]:
#